* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;/*Устанавливает максимальную ширину элемента*/
}

.container {
  max-width: 1050px;/*с учетом padding по 25px*/
  margin: 0 auto;
}

/*HEADER*/

.global-header {
  height: 300px;
  padding-top: 35px;
  background: url("../img/arcade-fire.jpg") no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
}

.logo {
  display: block;
  width: 140px;
  height: 77px;
  margin: 0 auto;
  background: url("../img/arcadefire-footer-logo.png") no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  text-indent: -9999px;/*отступ текста влево для h1*/
  overflow: hidden; /*все елементы, которые выходят за блок, обрезаются*/
}

.logo--min {
  width: 100px;
  height: 55px;
  font-size: 16px;
  font-weight: normal;
}

/*NAV*/

.nav {
  padding: 10px 15px;/*для responsive под мобильные устройства*/
  line-height: 30px; /*изменяем line-height: 50px;*/
  /*height: 50px;*/ /*убираем высоту*/
  font-size: 18px;
  font-weight: bold;
  background: #222;
}

.nav--min {
  font-size: 16px;
  font-weight: normal;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav__item {
  display: inline-block;
  margin: 0 21px;
  letter-spacing: 0.3px;
}

.nav__link {
  display: block;
  line-height: 50px; /*на всю ширину блока*/
  color: rgba(255, 255, 255, .44);
  transition: color 0.5s ease;
}

.nav__link:hover {
  color: rgba(255, 255, 255, .8);
}

.nav__item--active .nav__link {
  color: #fff;
}

/*CONTENT*/

/*ALBUMS*/

.albums {
  padding: 21px 0 39px; /*margin-top=45px (in zeplin) minus margin-top=25px in albums__item*/
  margin: 0;
  list-style: none;
}

.albums::after {
  content: '';
  display: table;
  clear: both;
}

.albums__item {
  float: left;
  width: 33.3333333%;
  padding: 0 25px;
  margin-top: 24px;
}

/*ALBUM*/

.album__image {
  width: 300px;
  height: 300px;
}

.album__info {
  margin-top: 8px;
  text-align: center;
  color: rgb(34, 34, 34);
  line-height: 24px;
}

.album__title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.album__year {
  font-size: 14px;
}

/*FOOTER*/

.global-footer {
  background: #222;
}

.copyright {
  margin: 0 auto;
  padding: 55px 15px;/*для responsive под мобильные устройства*/
  text-align: center;
  border: 1px solid rgba(236, 240, 241, .1);
}

.copyright__text {
  margin: 25px 0 0;
  line-height: 10px;
  font-size: 10px;
  color: #fff;
}
